{% extends 'base.html.twig' %}

{% block body %}
    <div class='jumbotron'>
        <h1>PKP Preservation Network</h1>
        <p>This is the administrative front-end for the PKP Preservation Network. End-users wanting more information, or wanting to join the PKP Preservation Network
            should check out <a href="https://pkp.sfu.ca/pkp-pn/">https://pkp.sfu.ca/pkp-pn/</a>.
        </p>
    </div>
{% endblock %}
